*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    font-family: 'arial', sans-serif;
    background-color: #f4f4f4;
    color : #333;
    background-color: #f4f4f4;
}
header{
    background : linear-gradient(135deg, #71b7e6, #9b59b6);
    line-height: 1.6;
    color : white;
    padding : 2rem;
}
header h1{
    text-align: center;
    margin-bottom: 1rem;
}
header p{
    text-align: center;
    font-size: 1.2rem;
}
.skills{
    background: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: #333 0px 0px 10px 0px;
}
.skills h2{
    margin-bottom: 15px;
    color: #333;
}
.skills ol{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: large;
}
.skills li{
    margin: 10px 0;
}
.timeline{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow:#333 0px 0px 10px 0px;
}
.timeline h2{
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}
.timeline p{
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
}
.about{
    background: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: #333 0px 0px 10px 0px;
}
.goals{
    background: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: #333 0px 0px 10px 0px;
}
.day1{
    background: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: #333 0px 0px 10px 0px;
}
.day1 h2{
    margin-bottom: 15px;
    color: #333;
}
.day1 p{
    font-size: 1.1rem;
    line-height: 1.6;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}


